body {
    text-align: center;

}

header {
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(10, 10, 10);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
}

ul {
    list-style-type: none;

}

li {
    float: left;
    margin: 20px;
}

a {
    text-decoration: none;
    font-variant: small-caps;
    color: black;
}

a:hover {
    font-size: 120%;
    transition: ease-in-out;
}

form {
    display: inline-block;
    margin: 40px;
    padding: 25px;
    border: 2px solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input,
textarea {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 10px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    resize: none;
    vertical-align: middle;
}

input:submit {
    min-width: 10px;
}

table {
    width: 80%;
    margin: 100px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
}

th,
td {
    padding: 20px;
    text-align: center;
    font-variant: small-caps;
}



.container {
    margin: 5%;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
}

.header {
    display: flex;
    justify-content: space-between;
}

.dropbtn {
    background: rgba(0, 0, 0, 0.486);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown {
    position: relative;
    display: inline-block;
    right: 10px;
    top: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7661a19a;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    padding: 12 px 16px;
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #71dad56c;
    border-radius: 10%;
}

.dropdown:hover .dropdown-content {
    display: block;
}